/* here you can put your own css to customize and override the theme */
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Signika Negative",sans-serif !important;
}
table thead .sorting {
  cursor: pointer;
  background: rgba(0, 0, 0, 0) url(../../img/admin/sort_both.png) no-repeat scroll right center;
}

table thead .sorting_desc {
  cursor: pointer;
  background: rgba(0, 0, 0, 0) url(../../img/admin/sort_desc.png) no-repeat scroll right center;
}

table thead .sorting_asc {
  cursor: pointer;
  background: rgba(0, 0, 0, 0) url(../../img/admin/sort_asc.png) no-repeat scroll right center;
}

label.error {
	color: red;
}

.mt-element-list .list-todo .list-count.green-haze, 
.mt-element-list .list-todo.mt-list-head.green-haze {
	background-color: #17C4BB;
}
.add_modul.mt-element-list .list-todo.mt-list-container {
	border-left: 0;
	border-right: 0;
}
.add_modul.mt-element-list .list-todo.mt-list-container ul>.mt-list-item>.list-todo-item:after {
	border: 0;
}
.add_modul.mt-element-list .list-todo.mt-list-container ul>.mt-list-item>.list-todo-item {
	width: 100%;
	margin-left: 0;
}
.add_modul.mt-element-list .list-todo .list-todo-item.grey .list-toggle {
	background: #27A7CE;
	color: #fff !important;
	font-size: 16px
}
.add_modul .md-checkbox label>.box {
	border:2px solid #fff;
}
.list-todo-icon i {
	left: 5px;
    position: absolute;
    top: 33px;
}
.group-scroll {
    margin-bottom: 0;
    max-height: 181px;
    overflow-y: auto;
}
.inner_list li.list-group-item{
	position: relative;
    display: block;
    padding: 10px 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.inner_list li.list-group-item:last-child {
	margin-bottom: 0;
}
.inner_list li.list-group-item .checker {
	margin-left: 3px;
    margin-top: -3px;
    width: 19px;
    height: 19px;
    float: left;
}
.mt-element-list .list-todo.mt-list-container ul>.mt-list-item>.list-todo-item .task-list .task-list-item:last-child {
	border-bottom: 1px solid #e7ecf1;
}
.md-checkbox label.mt-checkbox span,
.md-checkbox label.mt-checkbox span:hover,
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,
.mt-checkbox.mt-checkbox-outline>span,
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, 
.mt-checkbox.mt-checkbox-outline>input:checked~span{
	border: 1px solid #fff;
	background: #fff;
}
.inner_list .md-checkbox label.mt-checkbox span,
.inner_list .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,
.inner_list .mt-checkbox.mt-checkbox-outline>span,
.inner_list .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, 
.inner_list .mt-checkbox.mt-checkbox-outline>input:checked~span{
	border:1px solid #d9d9d9;
}
.modul_list .md-checkbox label>.check {
	border: 2px solid #fff;
	border-top: none;
    border-left: none;
}
.portlet.light.box-layout.group-clear.grop-box-1 {
    overflow: visible;
    width: 100%;
    moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee #ededed #ededed;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.03);
}
.mt-element-ribbon .ribbon.ribbon-color-black {
	color: #fff;
}
.mt-element-ribbon .ribbon.ribbon-color-black .ribbon-sub {
	background-color: #000;
	color: #fff;
}
.mt-element-ribbon .ribbon>.ribbon-sub.ribbon-clip:before {
	    border-right-color: #000!important;
}
.ribbon.ribbon-shadow.ribbon-color-black.uppercase.title-group-color {
    left: -28px !important;
}
.mt-element-ribbon .ribbon {
    clear: left;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: -2px;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    position: relative;
    z-index: 5;
}
.portlet.light {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee #ededed #ededed;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    /*box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.03);*/
    /*padding: 0 20px;*/
}
.portlet.light .portlet-body {
    padding: 15px 0;
}
.module_btn {
	margin-bottom: 25px;
}
.btn {
	width: 150px;
	font-size: 16px;
	border-radius: 3px !important;
}
table .btn {
	width: 34px;
}
.module-edit label.col-md-3{
	margin: 7px 0;
}
.btn.green-haze:not(.btn-outline) {
	background-color: #17C4BB;
	border-color: #17C4BB;
}
.page-header.navbar .page-logo {
	background-color: #fff;
}
.page-header.navbar .menu-toggler {
	background-image: url(../../img/admin/sidebar-toggler-inverse.png);;
}
.portlet>.portlet-title>.caption {
	font-size: 14px;
}
.portlet.light>.portlet-title>.caption>.caption-subject {
	font-size: 18px;
	color: #666;
	line-height: 18px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
	background-color: #dedede;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
	background-color: #fff;
}
.page-sidebar .page-sidebar-menu>li:hover>a {
	background: #e4e4e4;
	/*border-left: 4px solid #17c4bb;*/
	color: #666;
}
.page-sidebar-menu-hover-submenu li:hover a>.arrow,
.page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover>a>.arrow {
    border-right: 12px solid #eef1f5;
}
.page-sidebar .page-sidebar-menu>li>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
	color: #666;
}
body {
	background-color: #fff;
}
.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar .page-sidebar-menu>li.active.open>a {
	background-color: #fff;
	color: #666;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a {
	background-color: #fff !important;
	color: #666;
	font-weight: 600;
	padding-left: 47px;
} 
.page-sidebar .page-sidebar-menu .sub-menu>li.open > .sub-menu {
	padding-left: 30px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a>i, 
.page-sidebar .page-sidebar-menu>li.active>a>i {
	color: #666;
}
.page-sidebar .page-sidebar-menu>li>a {
	/*line-height: 35px;*/
	min-height: 39px;
	padding: 10px 15px 10px;
}
.page-sidebar .page-sidebar-menu>li>a>i {
	float: left;
	/*margin-top: 13px;*/
	/*line-height: 44px;*/
	color: #666;
	margin-right: 7px;
	font-size: 20px;
}
.page-sidebar .page-sidebar-menu>li>a>.title {
	text-align: left;
	font-weight: 400;
	margin-top: 0;
	font-size: 14px;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>a>.arrow {
	margin-top: -25px;
}
.page-header.navbar .page-top {
	box-shadow: none;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu {
	margin-top: -45px;
}
.dashboard-stat .details {
	left: 15px;
    padding-left: 15px;
}
.dashboard-stat .details .number {
	text-align: left;
}
.dashboard-stat .details .desc {
	text-align: left;
}
.page-sidebar .page-sidebar-menu>li.active>a>.selected, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected {
	right: -2px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.active.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.active>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.active>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow:before {
	color: #AAA;
}
.page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before {
	    margin-top: -20px;
}
.page-sidebar .page-sidebar-menu>li.active>a>.selected {
	top: 7px;
}
.page-sidebar .page-sidebar-menu>li.active>a:hover,
.page-sidebar .page-sidebar-menu>li.active.open>a:hover {
	background: #e9e9e9;
}
.page-sidebar .page-sidebar-menu .sub-menu {
	padding-left: 33px;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a span.title {
	color: #666;
	font-weight: 400;
	font-size: 14px;
}
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a {
	background: #e9e9e9 !important;
}
#pagination_record_msg {
	margin-left: 10px;
    margin-top: 8px;
}

@media (min-width: 992px) {
	.page-sidebar {
		width: 205px;
	}
	.page-content-wrapper .page-content {
		margin-left: 207px;
	}
}